<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../UI/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="../UI/bootstrap/css/font-awesome.min93e3.css" type="text/css" rel="stylesheet">
<script src="../UI/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../UI/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../UI/layer/layer.js"></script>
<script src="../UI/layer/extend/layer.ext.js"></script>
<script src="../UI/js/common.js"></script>
<script src="../UI/js/validate.js"></script>
<link href="../UI/bootstrap/css/select2.min.css" type="text/css" rel="stylesheet" />
<script src="../UI/bootstrap/js/select2.min.js" type="text/javascript"></script>
<link href="../UI/bootstrap/css/fileinput.css" type="text/css" rel="stylesheet">
<script src="../UI/bootstrap/js/fileinput.min.js" type="text/javascript"></script>
<script src="../UI/bootstrap/js/locales/fileinput_locales_zh.js"  type="text/javascript"></script>

<title>控件</title>
</head>
<body>
	<script type="text/javascript">	
	//页面加载时查询该用户的全部应用列表
	$(document).ready(function() {
		
	});
	
	function jumpUrl(){
		window.location.href="../views/基本.html"
	}

	</script>
	<div class="container-fluid">
		<br>
		<div class="panel panel-default">
			<div class="panel-heading">控件组</div>
			<div class="panel-body">
				<form class="form horizontal">
					<div class="form-group" >
					<label for="checkbox" >多选组：</label>
						<div class="checkbox-inline">
							<span> <input type="checkbox" checked name="checkbox" value="0">&nbsp;&nbsp;选项1<span>					
						</div>
						<div class="checkbox-inline">
						    <span> <input type="checkbox" name="checkbox" value="1">&nbsp;&nbsp;选项2</span>
						</div>
						<div class="checkbox-inline">
						    <span> <input type="checkbox" name="checkbox"value="2" disabled>&nbsp;&nbsp;选项3<span>
						</div>									
					</div>	
						
				<!-- 状态标签 -->					
					<div class="form-group" >
					  <label  >状态标签：</label>
					     <span class='label label-default'>默认</span>&nbsp;&nbsp;
					     <span class='label label-info'>提示</span>&nbsp;&nbsp;											
					     <span class='label label-success' >成功</span>&nbsp;&nbsp;
					     <span class='label label-warning'>警告</span>&nbsp;&nbsp;
					     <span class="label label-danger">危险</span>&nbsp;&nbsp;
					     <span class='label label-info' style='background:#F07A7A;color: #FFFFFF;'>置顶</span>																	
					</div>

			   <!-- 字体图标 -->
					<div class="form-group">
						<label >字体图标：</label> <span style="font-size: 17px">
							<i class="fa fa-download"></i>&nbsp;
							<i class="fa fa-search"></i>&nbsp;
							<i class="fa fa-file"></i>&nbsp; 
							<i class="fa fa-reply"></i>&nbsp;
							<i class="fa fa-camera"></i>&nbsp; 
							<i class="fa fa-cog"></i>&nbsp;
						</span> <span style="font-size: 17px; color: #AF0604"> 
						    <i class="fa fa-check"></i>&nbsp;
						    <i class="fa fa-trash"></i>&nbsp;
							<i class="fa fa-image"></i>&nbsp; 
							<i class="fa fa-envelope"></i>&nbsp;
							<i class="fa fa-unlock"></i>&nbsp; 
							<i class="fa fa-close"></i>&nbsp;
						</span>&nbsp;&nbsp; <label for="checkbox">组合示例：</label>
						<button id="resetBtn" type="reset" class="btn btn-primary">
							<i class="fa fa-trash"></i>&nbsp;清空
						</button>
						<span class="label  fa fa-wrench"
							style="background: #74B3FF; color: #FFFFFF; font-size: 15px">
						</span>
					</div>

					<!-- 文件上传控件 -->
					<div class="form-group" style="width: 500px">
						<label >上传文件：</label> 
						<input type="file" id="input1"  name="input1" class="file"
							style="width: 300px" />
					</div>

					<!-- 按钮下拉菜单 -->
					<div class="form-group" >
					<label >按钮下拉菜单：</label>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown">Action<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="jumpUrl()">跳转页面</a></li>
							<li><a href="#">淘宝一下</a></li>						
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">Action<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" onclick="jumpUrl()">跳转页面</a></li>
							<li><a href="#">淘宝一下</a></li>						
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
				  </div>
				  
					<!-- 标签页 -->
					<div class="form-group">
					<label >标签页：</label>
						<ul id="myTab" class="nav nav-tabs">
							<li class="active"><a href="#home" data-toggle="tab">W3Cschool Home</a></li>
							<li><a href="#ios" data-toggle="tab">iOS</a></li>
							<li class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"> Java <b class="caret"></b></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
									<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
									<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
								</ul>
							</li>
						</ul>
					</div>

					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="home">
							<p>W3Cschoool菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
						</div>
						<div class="tab-pane fade" id="ios">
							<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS是苹果的移动版本。</p>
						</div>
						<div class="tab-pane fade" id="jmeter">
							<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
						</div>
						<div class="tab-pane fade" id="ejb">
							<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。</p>
						</div>
					</div>
                   <br/><br/>
					<!-- 进度条 -->
					<div class="form-group">
					<label >进度条：</label>		
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-striped active"
								role="progressbar" aria-valuenow="60" aria-valuemin="0"
								aria-valuemax="100" style="width: 40%">
								<span >40% Complete</span>
							</div>
						</div>
					</div>

				</form>
			</div>
			<!--布局 -->
			<div class="panel-heading">布局1</div>
			<div class="container-fluid">
				<br>
				<div class="jumbotron">
					<div class="container">
						<h1>Welcome to Platform Center</h1>
						<p>This is a template for a simple marketing or informational
							website. It includes a large callout called a jumbotron and three
							supporting pieces of content. Use it as a starting point to
							create something more unique.</p>
						<p>
							<a class="btn btn-primary" href="#" role="button">查看更多&raquo;</a>
						</p>
					</div>
				</div>
				<div class="container" >
					<div class="row">
						<div class="col-sm-4">
							<h2>标题1</h2>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce
								dapibus, tellus ac cursus commodo, tortor mauris condimentum
								nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
								malesuada magna mollis euismod. Donec sed odio dui.</p>
							<p>
								<a class="btn btn-primary" href="#" role="button">查看更多
									&raquo;</a>
							</p>
						</div>
						<div class="col-sm-4">
							<h2>标题2</h2>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce
								dapibus, tellus ac cursus commodo, tortor mauris condimentum
								nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
								malesuada magna mollis euismod. Donec sed odio dui.</p>
							<p>
								<a class="btn btn-primary" href="#" role="button">查看更多&raquo;</a>
							</p>
						</div>
						<div class="col-sm-4">
							<h2>标题3</h2>
							<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Vestibulum id ligula porta felis euismod
								semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
								condimentum nibh, ut fermentum massa justo sit amet risus.</p>
							<p>
								<a class="btn btn-primary" href="#" role="button">查看更多&raquo;</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-heading">布局2</div>
			<div class="container">
			<br>
				<div class="jumbotron">				
					<h1>Jumbotron heading</h1>
					<p class="lead">Cras justo odio, dapibus ac facilisis in,
						egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
					</p>				
				</div>
            <div class="container" >
				<div class="row marketing" >
					<div class="col-sm-6">
						<h4>Subheading</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Maecenas
							faucibus mollis interdum.</p>

						<h4>Subheading</h4>
						<p>Morbi leo risus, porta ac consectetur ac, vestibulum at
							eros. Cras mattis consectetur purus sit amet fermentum.</p>

						<h4>Subheading</h4>
						<p>Maecenas sed diam eget risus varius blandit sit amet non
							magna.</p>
					</div>

					<div class="col-sm-6">
						<h4>Subheading</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Maecenas
							faucibus mollis interdum.</p>

						<h4>Subheading</h4>
						<p>Morbi leo risus, porta ac consectetur ac, vestibulum at
							eros. Cras mattis consectetur purus sit amet fermentum.</p>

						<h4>Subheading</h4>
						<p>Maecenas sed diam eget risus varius blandit sit amet non
							magna.</p>
					</div>
				</div>
				<div class="footer">
					<p>&copy; Company 2014</p>
				</div>
			</div>	
			</div>
	 </div>		
   </body>
</html>